{% extends 'home/home_base.html' %}
{% block content %}

<div class="container">
  <div class="text-center">
    <div class="row">
      <div class="well well-sm list-unstyled col-lg-12">          
        <img class="img-responsive center-block"  src="http://www.elcallejongolf.com/assets/Logos/Golf_Logo_2015.png" alt="2015 Jean B. Jourdain el Callejon Memorial Golf Tournament">
      </div>
    </div>
    <div class="row">
      <div class="well well-sm list-unstyled col-lg-12">          
        <h3>Bernard</h3>
        <h4>Director</h4>
        <p><a href="mailto:bjourdain@mac.com" target="" name="" >bjourdain@mac.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="well well-sm list-unstyled col-lg-12">          
        <h3>Joanne</h3>
        <h4>Coordinator</h4>
        <p><a href="mailto:jpward3299@gmail.com" target="" name="" >jpward3299@gmail.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="well well-sm list-unstyled col-lg-12">          
        <h3>Roberto</h3>
        <h4>Web Design & Registration</h4>
        <p><a href="mailto:roberto@el-callejon.com" target="" name="" >roberto@el-callejon.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="well well-sm list-unstyled col-lg-6">          
        <h4>El Callejon Encinitas</h4>
        <p>345 S. Coast Hwy 101<br/>Encinitas, CA 92024<br/>(760)634-2793<br/><a href="mailto:elcallejon@el-callejon.com" target="" name="" >elcallejon@el-callejon.com</a></p>
      </div>
      <div class="well well-sm list-unstyled col-lg-6">          
        <h4>Epilepsy Foundation San Diego</h4>
        <p>2055 El Cajon Blvd.<br/>San Diego, CA 92104<br/>(619)296-0161<br/><a href="mailto:info@epilepsysandiego.com" target="" name="" >info@epilepsysandiego.com</a></p>
      </div>
    </div>
  </div>
  <hr>
</div>

{% include 'home/sponsor_logos.html' %}
{% endblock %}