    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container">
      <!-- Columns of logos below the carousel -->
      <hr>
      <h1>Our 2014 Sponsors</h1>
      <div class="row">
        <div class="col-xs-12">
           <a href="http://www.usfoods.com/about-us/contact-us/USFLocations/san-diego.html/"><img class="img-responsive center-block" src="../../static/img/logos/USFoods.png" class="img-responsive displayed" alt="US Foods Logo"></a>
        </div><!-- /.col-xs-4 -->

      </div><!-- /.row -->
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <a href="http://www.milagrotequila.com"><img src="../../static/img/logos/milagro.png" class="img-responsive center-block" alt="Milagro Tequila"></a>
        </div><!-- /.col-xs-4 -->
        <div class="col-xs-6">
          <a href="http://www.crotalotequila.com"><img src="../../static/img/logos/crotalo.jpg" class="img-responsive center-block" alt="Crotalo Tequila"></a>
        </div><!-- /.col-xs-4 -->
      </div><!-- /.row -->
            <hr>

      <div class="row">
        <div class="col-xs-2">
          <a href="http://www.herradura.com"><img src="../../static/img/logos/herradura.png" class="img-responsive center-block" alt="Herradura Tequila"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.jerseymikes.com"><img src="../../static/img/logos/Roca_Patron.jpg" class="img-responsive center-block" alt="Roca Patron"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.tequilacorralejo.com"><img src="../../static/img/logos/corralejo.jpg" class="img-responsive center-block" alt="Corralejo Tequila"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.titleist.com"><img src="../../static/img/logos/titleist.jpg" class="img-responsive center-block" alt="Titleist Golf"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.harobikes.com"><img src="../../static/img/logos/haro.jpg" class="img-responsive center-block" alt="Haro Bikes"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="#"><img src="../../static/img/logos/dos-manos.jpg" class="img-responsive center-block" alt="Dos Manos Tequila"></a>
        </div><!-- /.col-xs-2 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-xs-2">
          <a href="http://www.tequilacamarena.com"><img src="../../static/img/logos/camarena.jpg" class="img-responsive center-block" alt="Camarena Tequila"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.jerseymikes.com"><img src="../../static/img/logos/Jersey_Mikes.jpg" class="img-responsive center-block" alt="Jersey Mike's Vista"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.azuniatequila.com"><img src="../../static/img/logos/Azunia-Tequila.png" class="img-responsive center-block" alt="Azuñia Tequila"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.1800tequila.com"><img src="../../static/img/logos/1800Tequila.jpg" class="img-responsive center-block" alt="1800 Tequila"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://taylormadegolf.com"><img src="../../static/img/logos/TaylorMade.jpg" class="img-responsive center-block" alt="TaylorMade Golf"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.eljimador.com"><img src="../../static/img/logos/El-Jimador.jpg" class="img-responsive center-block" alt="El Jimador Tequila"></a>
        </div><!-- /.col-xs-2 -->
      </div><!-- /.row -->
	  	<div class="row">
        <div class="col-xs-2">
          <a href="http://www.mogl.com"><img src="../../static/img/logos/MOGL.jpg" class="img-responsive center-block" alt="MOGL"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.casamigos.com"><img src="../../static/img/logos/casamigos.jpg" class="img-responsive center-block" alt="Casamigos"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.corona.com"><img src="../../static/img/logos/corona.jpg" class="img-responsive center-block" alt="Corona"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.fiscalinicheese.com"><img src="../../static/img/logos/fiscalini.jpg" class="img-responsive center-block" alt="Fiscalini"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.u4rik.com"><img src="../../static/img/logos/u4rik.jpg" class="img-responsive center-block" alt="u4rik"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.heartlandpaymentsystems.com"><img src="../../static/img/logos/heartland.jpg" class="img-responsive center-block" alt="Heartland Payment Systems"></a>
        </div><!-- /.col-xs-2 -->
      </div><!-- /.row -->
	  	<div class="row">
        <div class="col-xs-2">
          <a href="http://www.chefscutrealjerky.com"><img src="../../static/img/logos/chef_cut.jpg" class="img-responsive center-block" alt="Chef's Cut"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="http://www.hornitostequila.com"><img src="../../static/img/logos/hornitos.jpg" class="img-responsive center-block" alt="Hornitos"></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="#"><img src="" class="img-responsive center-block" alt=""></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="#"><img src="" class="img-responsive center-block" alt=""></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="#"><img src="" class="img-responsive center-block" alt=""></a>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-2">
          <a href="#"><img src="" class="img-responsive center-block" alt=""></a>
        </div><!-- /.col-xs-2 -->
      </div><!-- /.row -->
           
      </div><!-- /.body-content -->
</div>