{% extends 'sponsors/sponsor_base.html' %}

{% block content %}
    <div class="date">
    {% if sponsor.sponsor_created_date %}
        {{ sponsor.sponsor_created_date }}
    {% endif %}
    <a class="btn btn-default" href="{% url 'sponsor_edit' pk=sponsor.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
    <div>
      <h1>{{ sponsor.sponsor_name }} - {{ sponsor.sponsor_type }}</h1>
		<h4>Contact: {{ sponsor.cont_first_name }} {{ sponsor.cont_last_name }}</h4>
		<h4>email: {{ sponsor.cont_email }}</h4>
		<h4>Phone: {{ sponsor.cont_phone }}</h4>
		<h4>Comments: {{ sponsor.cont_comments }}</h4>
		<hr>
		<h4>Pay Status: {{ sponsor.sponsor_pay_status }}</h4>
		<h4>Pay Method: {{ sponsor.sponsor_pay_method }}</h4>
		<hr>
	</div>
{% endblock %}