{% load staticfiles %}
<html>
     <head>
         <title>Players List</title>
         
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="{% static 'css/register.css' %}">
         <link href="//fonts.googleapis.com/css?family=Raleway&subset=latin,latin-ext" rel="stylesheet" type="text/css">
         
     </head>
     <body>
         <div class="page-header">
             <a href="{% url 'register.views.sponsor_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
             <h1><a href="{% url 'home.views.index' %}">El Callejon Golf</a></h1>
         </div>
         <div class="content container">
            <div class="row">
                <div class="col-lg-9">
		          {% block content %}
		          {% endblock %}
		         </div>
		      </div>
		  </div>
     </body>
</html>