{% load staticfiles %}

<html lang="en">
  <head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="">
         <title>Players List</title>
         
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="{% static 'css/register.css' %}">
         <link href="//fonts.googleapis.com/css?family=Raleway&subset=latin,latin-ext" rel="stylesheet" type="text/css">
         
     </head>
     <body>
        {% include 'home/navbar.html' %}
         <div class="content container">
            <div class="row">
                <div class="col-lg-9">
		          {% block content %}
		          {% endblock %}
		         </div>
		      </div>
		  </div>
   </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js" ></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

   <script src="../../static/js/countdown.js"></script>
	<script src="../../static/js/waypoints.js" ></script>
	<script src="../../static/js/waypoints-sticky.js" ></script>

	<script type="text/javascript" >
		$(document).ready(function() {
			$('.my-sticky-element').waypoint('sticky');
			});
	</script>
	
	 <script type="text/javascript" src="../../static//js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>

    
</html>