{% extends 'players/base.html' %}

{% block content %}
    <div class="date">
    {% if player.created_date %}
        {{ player.created_date }}
    {% endif %}
    <a class="btn btn-default" href="{% url 'player_edit' pk=player.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
    <div>
        <h1>{{ player.first_name }} {{ player.last_name }}</h1>
		<h4>Shirt Size: {{ player.shirt }}, {{ player.gender }}</h4>
		<h4>email: {{ player.email }}</h4>
		<h4>Phone: {{ player.phone }}</h4>
		<h4>Comments: {{ player.comments }}</h4>
		<hr>
		<h4>Pay Status: {{ pay_status }}</h4>
		<h4>Pay Method: {{ pay_method }}</h4>
		<hr>
		<h4>Group Play: {{ group_play }}</hr>
	</div>
{% endblock %}